.btn-outline-primary {
  background: white;
}

.btn {
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
}

.btn-primary {
  padding: 10px 20px;
}

.f-20 {
  font-size: 20px;
}

.subtitle {
  //styleName: subtitle/is-4;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;

  &:before {
    content: "";
    display: inline-block;
    background: #D100C9;
    margin-bottom: 12px;
    margin-right: 20px;

    width: 40px;
    height: 4px;
    top: 1600px;
    left: 80px;
  }
}

.mb-5 {
  margin-bottom: 5rem !important;
}
